/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed
GEMINI.md
storage/app\private/livewire-tmp/sPVrecu3ZUS42cGCLAwEWiO3Nbc18B-metaY291cnNlLmpwZw==--hash=Gb8JoVVBZuSNG8XeXAkSt9jo6EV1rRcwy5fBmvDT.jpg-mimeType=image_jpeg-size=695.jpg
storage/app\private/livewire-tmp/gBkwcbFl9vxf9U34rN0KermtlIdCy4-metaY291cnNlLmpwZw==--hash=GQkiISb07ZEwA9Fe55WY6FriIZkHmtdsv2yijaYu.jpg-mimeType=image_jpeg-size=695.jpg
