@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
/* Apply to all scrollable elements */
html{
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

html::-webkit-scrollbar {
    width: 2vw;
}

html::-webkit-scrollbar-thumb{
    background-color: var(--scrollbar-thumb-color);
    border-radius: 6px;
}

aside{
    scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

div {
   scrollbar-width: thin;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
    scroll-behavior: smooth;
}
.shiki .highlight {
    @apply bg-gray-600 py-1;
    @apply rounded-lg;
}

.shiki .add {
    @apply bg-green-600/50 dark:bg-green-600/50 py-1 rounded-sm;
}

.shiki .del {
    @apply bg-red-300/50 dark:bg-red-600/50 py-1 rounded-sm;
}

.shiki.focus .line:not(.focus) {
    @apply transition-all blur-[2px]
}

.shiki.focus:hover .line {
    @apply transition-all blur-0
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-in {
    animation: fadeIn 0.5s ease-out forwards;
}

a[disabled="disabled"] {
        pointer-events: none;
    }
