@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
    display: none;
}
/* Apply to all scrollable elements */
.scrollable-content {
    overflow-y: auto;
    max-height: 80vh; /* Adjust height */
}

/* Custom scrollbar */
.scrollable-content::-webkit-scrollbar {
    width: 8px;
}

.scrollable-content::-webkit-scrollbar-track {
    background: #e5e7eb;
    border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar-thumb {
    background: #6b7280;
    border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
    background: #374151;
}

.shiki .highlight {
    @apply bg-gray-600 py-1;
    @apply rounded-lg;
}

.shiki .add {
    @apply bg-green-600/50 dark:bg-green-600/50 py-1 rounded-sm;
}

.shiki .del {
    @apply bg-red-300/50 dark:bg-red-600/50 py-1 rounded-sm;
}

.shiki.focus .line:not(.focus) {
    @apply transition-all blur-[2px]
}

.shiki.focus:hover .line {
    @apply transition-all blur-0
}
